@page "/ain"
@using System.Globalization
@using CSRegler.Resources
@using CSRegler.Pages
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Http
@inject IStringLocalizer<CSReglerResource> Loc
@inject NotificationService NotificationService
<PageTitle>ain</PageTitle>



<html>
<head>
<style>
* { box-sizing: border-box; }
 body { font-family: Arial; padding: 10px; background: #f1f1f1; }
/* Header/Blog Title */
.header { padding: 30px;  text-align: center;  background: white;}
.header h1 {  font-size: 50px;}
.vertical-menu {  width: 200px;  height: 500px;  overflow-y: auto;}
.vertical-menu a {   background-color: #eee;  color: black;   display: block;  padding: 5px;  text-decoration: none;}
.vertical-menu a:hover {  background-color: #ccc;}
.vertical-menu a.active {  background-color: #04AA6D;  color: white;}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {     float: left;  width: 25%;}
/* Right column */
.rightcolumn {  float: left;  width: 75%;  background-color: #f1f1f1;  padding-left: 0px;}
/* Fake image */
.fakeimg {  background-color: #aaa;  width: 100%;  padding: 20px;}
/* Add a card effect for articles */
.card {  background-color: white;  padding: 20px;  margin-top: 20px;}
/* Clear floats after the columns */
.row:after {  content: ;  display: table;  clear: both;}
/* Footer */
.footer {  padding: 10px;  text-align: center;  background: #ddd; margin-top: 500px;}

/* Add a black background color to the top navigation */
.topnav {  background-color: #333;  overflow: hidden;}
/* Style the links inside the navigation bar */
.topnav a {  float: left;  color: #f2f2f2;  text-align: center;  padding: 14px 16px;  text-decoration: none;  font-size: 17px;}
/* Change the color of links on hover */
.topnav a:hover {  background-color: #ddd;  color: black;}
/* Add a color to the active/current link */
.topnav a.active {  background-color: #F4AA6A;  color: white;}
button {  background-color: #04AA6D;  color: white;  
padding: 14px 20px;  margin: 8px 0;  border: none;  cursor: pointer;  width: 100%;}
button:hover {  opacity: 0.8;}
</style>
</head>
<body>

<div class='topnav'>
<a href='/'>@Loc["Home"]</a>
<a href='/hardwareconfig'>@Loc["Hardware Configuration"]</a>
<a href='/ioconfig'>@Loc["IO Configuration"]</a>
<a href='/unitconfig'>@Loc["Unit Configuration"]</a>
<a href='/networkconfig'>@Loc["Network Configuration"]</a>
<a href='/administration'>@Loc["Administration"]</a> 
<a href='/upload'>@Loc["File Upload"]</a>
 </div>

  <div class='row'>
   <div class='leftcolumn' >
     <div class='vertical-menu' >
 <a href='/ae'>@Loc["ae"]</a>
 <a class='active' href='/ain'>@Loc["ain"]</a>
 <a href='/aout'>@Loc["aout"]</a>
 <a href='/bmsstop'>@Loc["bmsstop"]</a>
 <a href='/calarm'>@Loc["calarm"]</a>
 <a href='/coil'>@Loc["coil"]</a>
 <a href='/comp'>@Loc["comp"]</a>
 <a href='/cond'>@Loc["cond"]</a>
 <a href='/control'>@Loc["control"]</a>
 <a href='/coolingprio'>@Loc["coolingprio"]</a>
 <a href='/cpset'>@Loc["cpset"]</a>
 <a href='/cw'>@Loc["cw"]</a>
 <a href='/date'>@Loc["date time"]</a>
 <a href='/dehumi'>@Loc["dehumi"]</a>
 <a href='/din'>@Loc["din"]</a>
 <a href='/dout'>@Loc["dout"]</a>
 <a href='/drycool'>@Loc["drycool"]</a>
 <a href='/eco'>@Loc["eco"]</a>
 <a href='/eev'>eev</a>
 <a href='/eheat'>eheat</a>
 <a href='/equipment'>equipment</a>
 <a href='/event'>event</a>
 <a href='/fan'>fan</a>
 <a href='/fcm'>fcm</a>
 <a href='/filter'>filter</a>
 <a href='/fire'>fire</a>
 <a href='/flow'>flow</a>
 <a href='/gasheat'>gasheat</a>
 <a href='/gecwv'>gecwv</a>
 <a href='/gvalve'>gvalve</a>
 <a href='/hgbp'>hgbp</a>
 <a href='/humi'>humi</a>
 <a href='/iobus'>iobus</a>
 <a href='/is'>is</a>
 <a href='/loaddefault'>loaddefault</a>
 <a href='/log'>log</a>
 <a href='/louver'>louver</a>
 <a href='/minmax'>minmax</a>
 <a href='/option'>option</a>
 <a href='/phase'>phase</a>
 <a href='/protocol'>protocol</a>
 <a href='/pszone'>pszone</a>
 <a href='/pump'>pump</a>
 <a href='/pwwheat'>pwwheat</a>
 <a href='/sensor'>sensor</a>
 <a href='/setpoint'>setpoint</a>
 <a href='/state'>state</a>
 <a href='/suctionv'>suctionv</a>
 <a href='/ups'>ups</a>
 <a href='/water'>water</a>
 <a href='/winter'>winter</a>
 <a href='/wprg'>wprg</a>
 <a href='/zone'>zone</a>
 	</div>
   </div>

 <div class='rightcolumn'>
 <!--
<option value='none'>-none-</option>
<option value='roomhumi'>Roomhumidity</option>
<option value='roomtemp'>Roomtemperature</option>
<option value='supplyhumi'>Supplyhumidity</option>
<option value='supplytemp'>Supplytemperature</option>
<option value='watertempin1'>Watertemp inlet 1</option>
<option value='watertempin2'>Watertemp inlet 2</option>
<option value='watertempout1'>Watertemp outlet 1</option>
<option value='watertempout2'>Watertemp outlet 2</option>
<option value='outsidetemp'>Outsidetemperature</option>
<option value='outsidehumi'>Outsidehumidity</option>
<option value='condpress1'>Condensationpressure 1</option>
<option value='condpress2'>Condensationpressure 2</option>-->
<!-- Tab links -->

<RadzenTabs TabPosition="Radzen.TabPosition.Left" style="width: 1000px; margin-left: -100px;"  @bind-SelectedIndex=@selectedIndex Change=@OnChanged>
    <Tabs>
        <RadzenTabsItem Text="Ain 1">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1900))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Ain 2">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1901))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Ain 3">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1902))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Ain 4">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1903))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Ain 5">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1904))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Ain 6">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1905))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Ain 7">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1906))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Ain 8">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1907))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Ain 9">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1908))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Ain 10">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1909))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Ain 11">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1910))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Ain 12">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1911))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Ain 13">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1912))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Ain 14">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1913))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Ain 15">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1914))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Ain 16">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1915))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Ain 17">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1916))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Ain 18">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1917))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Ain 19">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1918))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Ain 20">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1919))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Ain 21">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1920))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>


	</Tabs>
</RadzenTabs>
</div>
 </div>


 </body>
</html>
@inject IJSRuntime JsRuntime

@code {
    int selectedIndex = 0;
    private List<Datenpunkt> _datenpunkte = null;
    public string seite = "/ain";

    protected override async Task OnInitializedAsync()
    {
        using var context = new DPointDbContext();

        _datenpunkte = await context.Datenpunkte.ToListAsync();
    }

     void OnChanged(int index)
    {
//        console.Log($"Tab with index {index} was selected.");
    }
}
