@page "/dout"
@using System.Globalization
@using CSRegler.Resources
@using CSRegler.Pages
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Http
@inject IStringLocalizer<CSReglerResource> Loc
@inject NotificationService NotificationService

<PageTitle>Dout</PageTitle>



<html>
<head>
<style>
* { box-sizing: border-box; }
 body { font-family: Arial; padding: 10px; background: #f1f1f1; }
/* Header/Blog Title */
.header { padding: 30px;  text-align: center;  background: white;}
.header h1 {  font-size: 50px;}
.vertical-menu {  width: 200px;  height: 500px;  overflow-y: auto;}
.vertical-menu a {   background-color: #eee;  color: black;   display: block;  padding: 5px;  text-decoration: none;}
.vertical-menu a:hover {  background-color: #ccc;}
.vertical-menu a.active {  background-color: #04AA6D;  color: white;}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {     float: left;  width: 25%;}
/* Right column */
.rightcolumn {  float: left;  width: 75%;  background-color: #f1f1f1;  padding-left: 0px;}
/* Fake image */
.fakeimg {  background-color: #aaa;  width: 100%;  padding: 20px;}
/* Add a card effect for articles */
.card {  background-color: white;  padding: 20px;  margin-top: 20px;}
/* Clear floats after the columns */
.row:after {  content: ;  display: table;  clear: both;}
/* Footer */
.footer {  padding: 10px;  text-align: center;  background: #ddd; margin-top: 500px;}

/* Add a black background color to the top navigation */
.topnav {  background-color: #333;  overflow: hidden;}
/* Style the links inside the navigation bar */
.topnav a {  float: left;  color: #f2f2f2;  text-align: center;  padding: 14px 16px;  text-decoration: none;  font-size: 17px;}
/* Change the color of links on hover */
.topnav a:hover {  background-color: #ddd;  color: black;}
/* Add a color to the active/current link */
.topnav a.active {  background-color: #F4AA6A;  color: white;}
button {  background-color: #04AA6D;  color: white;  
padding: 14px 20px;  margin: 8px 0;  border: none;  cursor: pointer;  width: 100%;}
button:hover {  opacity: 0.8;}
</style>
</head>
<body>

<div class='topnav'>
<a href='/'>@Loc["Home"]</a>
<a href='/hardwareconfig'>@Loc["Hardware Configuration"]</a>
<a href='/ioconfig'>@Loc["IO Configuration"]</a>
<a href='/unitconfig'>@Loc["Unit Configuration"]</a>
<a href='/networkconfig'>@Loc["Network Configuration"]</a>
<a href='/administration'>@Loc["Administration"]</a> 
<a href='/upload'>@Loc["File Upload"]</a>
 </div>

  <div class='row'>
   <div class='leftcolumn' >
     <div class='vertical-menu' >
 <a href='/ae'>@Loc["ae"]</a>
 <a href='/ain'>@Loc["ain"]</a>
 <a href='/aout'>@Loc["aout"]</a>
 <a href='/bmsstop'>@Loc["bmsstop"]</a>
 <a href='/calarm'>@Loc["calarm"]</a>
 <a href='/coil'>@Loc["coil"]</a>
 <a href='/comp'>@Loc["comp"]</a>
 <a href='/cond'>@Loc["cond"]</a>
 <a href='/control'>@Loc["control"]</a>
 <a href='/coolingprio'>@Loc["coolingprio"]</a>
 <a href='/cpset'>@Loc["cpset"]</a>
 <a href='/cw'>@Loc["cw"]</a>
 <a href='/date'>@Loc["date time"]</a>
 <a href='/dehumi'>@Loc["dehumi"]</a>
 <a href='/din'>@Loc["din"]</a>
 <a class='active' href='/dout'>@Loc["dout"]</a>
 <a href='/drycool'>@Loc["drycool"]</a>
 <a href='/eco'>@Loc["eco"]</a>
 <a href='/eev'>eev</a>
 <a href='/eheat'>eheat</a>
 <a href='/equipment'>equipment</a>
 <a href='/event'>event</a>
 <a href='/fan'>fan</a>
 <a href='/fcm'>fcm</a>
 <a href='/filter'>filter</a>
 <a href='/fire'>fire</a>
 <a href='/flow'>flow</a>
 <a href='/gasheat'>gasheat</a>
 <a href='/gecwv'>gecwv</a>
 <a href='/gvalve'>gvalve</a>
 <a href='/hgbp'>hgbp</a>
 <a href='/humi'>humi</a>
 <a href='/iobus'>iobus</a>
 <a href='/is'>is</a>
 <a href='/loaddefault'>loaddefault</a>
 <a href='/log'>log</a>
 <a href='/louver'>louver</a>
 <a href='/minmax'>minmax</a>
 <a href='/option'>option</a>
 <a href='/phase'>phase</a>
 <a href='/protocol'>protocol</a>
 <a href='/pszone'>pszone</a>
 <a href='/pump'>pump</a>
 <a href='/pwwheat'>pwwheat</a>
 <a href='/sensor'>sensor</a>
 <a href='/setpoint'>setpoint</a>
 <a href='/state'>state</a>
 <a href='/suctionv'>suctionv</a>
 <a href='/ups'>ups</a>
 <a href='/water'>water</a>
 <a href='/winter'>winter</a>
 <a href='/wprg'>wprg</a>
 <a href='/zone'>zone</a>
 	</div>
   </div>

 <div class='rightcolumn'>
 <!--
<option value='none'>-none-</option>
<option value='enable fan'>enable fan</option>
<option value='Compressor 1'>Compressor 1</option>
<option value='Pump 2'>Pump 2</option>
<option value='E-reheat 1'>E-reheat 1</option>
<option value='E-reheat 2'>E-reheat 2</option>
<option value='Dehumidification'>Dehumidification</option>
<option value='Hotgas-bypass'>Hotgas-bypass</option>
<option value='Common alarm 1'>Common alarm 1</option>
<option value='Louver'>Louver</option>
<option value='Compressor 2'>Compressor 2</option>
<option value='Pump 1 (GE)'>Pump 1 (GE)</option>
<option value='Drycooler 1'>Drycooler 1</option>
<option value='Drycooler 2'>Drycooler 2</option>
<option value='winter operation'>winter operation</option>
<option value='summer operation'>summer operation</option>
<option value='Pump 2 (G)'>Pump 2 (G)</option>
<option value='E-reheat 3'>E-reheat 3</option>
<option value='Humidifier on/off'>Humidifier on/off</option>
<option value='Pump 3'>Pump 3</option>
<option value='Pump 4'>Pump 4</option>
<option value='Drycooler 3'>Drycooler 3</option>
<option value='Drycooler 4'>Drycooler 4</option>
<option value='eev 1'>eev 1</option>
<option value='eev 2'>eev 2</option>-->

<!-- Tab links -->

<RadzenTabs TabPosition="Radzen.TabPosition.Left" style="width: 1000px; margin-left: -100px;"  @bind-SelectedIndex=@selectedIndex Change=@OnChanged>
    <Tabs>
        <RadzenTabsItem Text="Dout 1">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1843))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Dout 2">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1844))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Dout 3">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1845))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Dout 4">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1846))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Dout 5">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1847))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Dout 6">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1848))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Dout 7">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1849))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Dout 8">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1850))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Dout 9">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1851))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Dout 10">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1852))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Dout 11">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1853))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Dout 12">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1854))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Dout 13">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1855))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Dout 14">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1856))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Dout 15">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1857))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Dout 16">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1858))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Dout 17">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1859))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Dout 18">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1860))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Dout 19">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1861))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Dout 20">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">@Loc["Beschreibung"]</th>
						<th scope="col">@Loc["Datenpunkt"]</th>
						<th scope="col">@Loc["Wert"]</th>
						<th scope="col">@Loc["CRUD"]</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(1862))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
		
	</Tabs>
</RadzenTabs>
 </div>
 </div>


 </body>
</html>

@inject IJSRuntime JsRuntime

@code {
    int selectedIndex = 0;
    private List<Datenpunkt> _datenpunkte = null;
    public string seite = "/dout";

    protected override async Task OnInitializedAsync()
    {
        using var context = new DPointDbContext();

        _datenpunkte = await context.Datenpunkte.ToListAsync();
    }
     void OnChanged(int index)
    {
//        console.Log($"Tab with index {index} was selected.");
    }
}
