@page "/fan"
@using System.Globalization
@using CSRegler.Resources
@using CSRegler.Pages
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Http
@inject IStringLocalizer<CSReglerResource> Loc
@inject NotificationService NotificationService
<PageTitle>Fan</PageTitle>



<html>
<head>
<style>
* { box-sizing: border-box; }
 body { font-family: Arial; padding: 10px; background: #f1f1f1; }
/* Header/Blog Title */
.header { padding: 30px;  text-align: center;  background: white;}
.header h1 {  font-size: 50px;}
.vertical-menu {  width: 200px;  height: 500px;  overflow-y: auto;}
.vertical-menu a {   background-color: #eee;  color: black;   display: block;  padding: 5px;  text-decoration: none;}
.vertical-menu a:hover {  background-color: #ccc;}
.vertical-menu a.active {  background-color: #04AA6D;  color: white;}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {     float: left;  width: 25%;}
/* Right column */
.rightcolumn {  float: left;  width: 75%;  background-color: #f1f1f1;  padding-left: 0px;}
/* Fake image */
.fakeimg {  background-color: #aaa;  width: 100%;  padding: 20px;}
/* Add a card effect for articles */
.card {  background-color: white;  padding: 20px;  margin-top: 20px;}
/* Clear floats after the columns */
.row:after {  content: ;  display: table;  clear: both;}
/* Footer */
.footer {  padding: 10px;  text-align: center;  background: #ddd; margin-top: 500px;}

/* Add a black background color to the top navigation */
.topnav {  background-color: #333;  overflow: hidden;}
/* Style the links inside the navigation bar */
.topnav a {  float: left;  color: #f2f2f2;  text-align: center;  padding: 14px 16px;  text-decoration: none;  font-size: 17px;}
/* Change the color of links on hover */
.topnav a:hover {  background-color: #ddd;  color: black;}
/* Add a color to the active/current link */
.topnav a.active {  background-color: #F4AA6A;  color: white;}
button {  background-color: #04AA6D;  color: white;  
padding: 14px 20px;  margin: 8px 0;  border: none;  cursor: pointer;  width: 100%;}
button:hover {  opacity: 0.8;}
</style>
</head>
<body>

<div class='topnav'>
<a href='/'>Home</a>
<a href='/hardwareconfig'>Hardware Configuration</a>
<a href='/ioconfig'>IO Configuration</a>
<a href='/unitconfig'>Unit Configuration</a>
<a href='/networkconfig'>Network Configuration</a>
<a href='/administration'>Administration</a> 
<a href='/upload'>File Upload</a>
 </div>

  <div class='row'>
   <div class='leftcolumn' >
     <div class='vertical-menu' >
 <a href='/ae'>ae</a>
 <a href='/ain'>ain</a>
 <a href='/aout'>aout</a>
 <a href='/bmsstop'>bmsstop</a>
 <a href='/calarm'>calarm</a>
 <a href='/coil'>coil</a>
 <a href='/comp'>comp</a>
 <a href='/cond'>cond</a>
 <a href='/control'>control</a>
 <a href='/coolingprio'>coolingprio</a>
 <a href='/cpset'>cpset</a>
 <a href='/cw'>cw</a>
 <a href='/date'>date time</a>
 <a href='/dehumi'>dehumi</a>
 <a href='/din'>din</a>
 <a href='/dout'>dout</a>
 <a href='/drycool'>drycool</a>
 <a href='/eco'>eco</a>
 <a href='/eev'>eev</a>
 <a href='/eheat'>eheat</a>
 <a href='/equipment'>equipment</a>
 <a href='/event'>event</a>
 <a class='active' href='/fan'>fan</a>
 <a href='/fcm'>fcm</a>
 <a href='/filter'>filter</a>
 <a href='/fire'>fire</a>
 <a href='/flow'>flow</a>
 <a href='/gasheat'>gasheat</a>
 <a href='/gecwv'>gecwv</a>
 <a href='/gvalve'>gvalve</a>
 <a href='/hgbp'>hgbp</a>
 <a href='/humi'>humi</a>
 <a href='/iobus'>iobus</a>
 <a href='/is'>is</a>
 <a href='/loaddefault'>loaddefault</a>
 <a href='/log'>log</a>
 <a href='/louver'>louver</a>
 <a href='/minmax'>minmax</a>
 <a href='/option'>option</a>
 <a href='/phase'>phase</a>
 <a href='/protocol'>protocol</a>
 <a href='/pszone'>pszone</a>
 <a href='/pump'>pump</a>
 <a href='/pwwheat'>pwwheat</a>
 <a href='/sensor'>sensor</a>
 <a href='/setpoint'>setpoint</a>
 <a href='/state'>state</a>
 <a href='/suctionv'>suctionv</a>
 <a href='/ups'>ups</a>
 <a href='/water'>water</a>
 <a href='/winter'>winter</a>
 <a href='/wprg'>wprg</a>
 <a href='/zone'>zone</a>
 	</div>
   </div>

 <div class='rightcolumn'>
 <RadzenTabs TabPosition="TabPosition.Left" style="width: 1000px; margin-left: -100px;"  @bind-SelectedIndex=@selectedIndex Change=@OnChanged>
    <Tabs>
        <RadzenTabsItem Text="Fan 1">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">Beschreibung</th>
						<th scope="col">Datenpunkt</th>
						<th scope="col">Wert</th>
						<th scope="col">CRUD</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(6900))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6901))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6902))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6903))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6904))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6905))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6906))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6907))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6908))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6909))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6910))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6911))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6912))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6913))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6914))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6915))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6916))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6917))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6918))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6919))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6920))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6921))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6922))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6923))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6924))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6925))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6926))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6927))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6928))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6929))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6930))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6931))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6932))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6933))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6934))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6935))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6936))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6937))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6938))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6939))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6940))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6941))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6942))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6943))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6944))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6945))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6946))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6947))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6948))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6949))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6950))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6951))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6952))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6953))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6961))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6962))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6963))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}

					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Fan 2">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">Beschreibung</th>
						<th scope="col">Datenpunkt</th>
						<th scope="col">Wert</th>
						<th scope="col">CRUD</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(7000))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7001))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7002))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7003))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7004))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7005))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7006))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7007))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7008))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7009))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7010))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7011))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7012))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7013))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7014))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7015))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7016))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7017))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7018))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7019))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7020))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7021))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7022))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7023))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7024))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7025))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7026))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7027))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7028))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7029))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7030))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7031))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7032))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7033))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7034))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7035))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7036))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7037))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7038))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7039))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7040))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7041))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7042))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7043))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7044))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7045))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7046))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7047))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7048))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7049))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7050))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7051))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7052))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7053))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7061))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7062))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7063))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}

					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>     
        <RadzenTabsItem Text="Fan 3">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">Beschreibung</th>
						<th scope="col">Datenpunkt</th>
						<th scope="col">Wert</th>
						<th scope="col">CRUD</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(7100))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7101))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7102))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7103))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7104))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7105))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7106))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7107))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7108))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7109))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7110))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7111))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7112))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7113))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7114))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7115))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7116))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7117))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7118))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7119))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7120))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7121))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7122))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7123))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7124))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7125))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7126))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7127))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7128))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7129))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7130))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7131))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7132))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7133))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7134))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7135))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7136))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7137))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7138))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7139))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7140))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7141))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7142))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7143))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7144))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7145))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7146))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7147))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7148))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7149))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7150))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7151))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7152))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7153))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7161))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7162))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(7163))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}

					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
	</Tabs>
</RadzenTabs>
 </div>
 </div>


 </body>
</html>

@inject IJSRuntime JsRuntime

@code {
    int selectedIndex = 0;
    private List<Datenpunkt> _datenpunkte = null;
    public string seite = "/fan";

    protected override async Task OnInitializedAsync()
    {
        using var context = new DPointDbContext();

        _datenpunkte = await context.Datenpunkte.ToListAsync();
    }

     void OnChanged(int index)
    {
//        console.Log($"Tab with index {index} was selected.");
    }
}
