@page "/humi"
@using System.Globalization
@using CSRegler.Resources
@using CSRegler.Pages
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Http
@inject IStringLocalizer<CSReglerResource> Loc
@inject NotificationService NotificationService
<PageTitle>Humi</PageTitle>



<html>
<head>
<style>
* { box-sizing: border-box; }
 body { font-family: Arial; padding: 10px; background: #f1f1f1; }
/* Header/Blog Title */
.header { padding: 30px;  text-align: center;  background: white;}
.header h1 {  font-size: 50px;}
.vertical-menu {  width: 200px;  height: 500px;  overflow-y: auto;}
.vertical-menu a {   background-color: #eee;  color: black;   display: block;  padding: 5px;  text-decoration: none;}
.vertical-menu a:hover {  background-color: #ccc;}
.vertical-menu a.active {  background-color: #04AA6D;  color: white;}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {     float: left;  width: 25%;}
/* Right column */
.rightcolumn {  float: left;  width: 75%;  background-color: #f1f1f1;  padding-left: 0px;}
/* Fake image */
.fakeimg {  background-color: #aaa;  width: 100%;  padding: 20px;}
/* Add a card effect for articles */
.card {  background-color: white;  padding: 20px;  margin-top: 20px;}
/* Clear floats after the columns */
.row:after {  content: ;  display: table;  clear: both;}
/* Footer */
.footer {  padding: 10px;  text-align: center;  background: #ddd; margin-top: 500px;}

/* Add a black background color to the top navigation */
.topnav {  background-color: #333;  overflow: hidden;}
/* Style the links inside the navigation bar */
.topnav a {  float: left;  color: #f2f2f2;  text-align: center;  padding: 14px 16px;  text-decoration: none;  font-size: 17px;}
/* Change the color of links on hover */
.topnav a:hover {  background-color: #ddd;  color: black;}
/* Add a color to the active/current link */
.topnav a.active {  background-color: #F4AA6A;  color: white;}
button {  background-color: #04AA6D;  color: white;  
padding: 14px 20px;  margin: 8px 0;  border: none;  cursor: pointer;  width: 100%;}
button:hover {  opacity: 0.8;}
</style>
</head>
<body>

<div class='topnav'>
<a href='/'>Home</a>
<a href='/hardwareconfig'>Hardware Configuration</a>
<a href='/ioconfig'>IO Configuration</a>
<a href='/unitconfig'>Unit Configuration</a>
<a href='/networkconfig'>Network Configuration</a>
<a href='/administration'>Administration</a> 
</div>

  <div class='row'>
   <div class='leftcolumn' >
     <div class='vertical-menu' >
 <a href='/ae'>ae</a>
 <a href='/ain'>ain</a>
 <a href='/aout'>aout</a>
 <a href='/bmsstop'>bmsstop</a>
 <a href='/calarm'>calarm</a>
 <a href='/coil'>coil</a>
 <a href='/comp'>comp</a>
 <a href='/cond'>cond</a>
 <a href='/control'>control</a>
 <a href='/coolingprio'>coolingprio</a>
 <a href='/cpset'>cpset</a>
 <a href='/cw'>cw</a>
 <a href='/date'>date time</a>
 <a href='/dehumi'>dehumi</a>
 <a href='/din'>din</a>
 <a href='/dout'>dout</a>
 <a href='/drycool'>drycool</a>
 <a href='/eco'>eco</a>
 <a href='/eev'>eev</a>
 <a href='/eheat'>eheat</a>
 <a href='/equipment'>equipment</a>
 <a href='/event'>event</a>
 <a href='/fan'>fan</a>
 <a href='/fcm'>fcm</a>
 <a href='/filter'>filter</a>
 <a href='/fire'>fire</a>
 <a href='/flow'>flow</a>
 <a href='/gasheat'>gasheat</a>
 <a href='/gecwv'>gecwv</a>
 <a href='/gvalve'>gvalve</a>
 <a href='/hgbp'>hgbp</a>
 <a class='active' href='/humi'>humi</a>
 <a href='/iobus'>iobus</a>
 <a href='/is'>is</a>
 <a href='/loaddefault'>loaddefault</a>
 <a href='/log'>log</a>
 <a href='/louver'>louver</a>
 <a href='/minmax'>minmax</a>
 <a href='/option'>option</a>
 <a href='/phase'>phase</a>
 <a href='/protocol'>protocol</a>
 <a href='/pszone'>pszone</a>
 <a href='/pump'>pump</a>
 <a href='/pwwheat'>pwwheat</a>
 <a href='/sensor'>sensor</a>
 <a href='/setpoint'>setpoint</a>
 <a href='/state'>state</a>
 <a href='/suctionv'>suctionv</a>
 <a href='/ups'>ups</a>
 <a href='/water'>water</a>
 <a href='/winter'>winter</a>
 <a href='/wprg'>wprg</a>
 <a href='/zone'>zone</a>
 	</div>
   </div>

 <div class='rightcolumn'>
 <RadzenTabs TabPosition="TabPosition.Left" style="width: 1000px; margin-left: -100px;"  @bind-SelectedIndex=@selectedIndex Change=@OnChanged>
    <Tabs>
        <RadzenTabsItem Text="Humidifier 1">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">Beschreibung</th>
						<th scope="col">Datenpunkt</th>
						<th scope="col">Wert</th>
						<th scope="col">CRUD</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(6400))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6401))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6402))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6403))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6404))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6405))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6406))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6407))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6408))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6409))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6410))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6411))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6412))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6413))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6414))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6415))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6416))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6417))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6418))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6419))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6420))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6421))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6422))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6423))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6424))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6425))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6426))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6427))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6428))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6429))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6430))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6431))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6432))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6433))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6434))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6435))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6436))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}

					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Humidifier 2">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">Beschreibung</th>
						<th scope="col">Datenpunkt</th>
						<th scope="col">Wert</th>
						<th scope="col">CRUD</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(6500))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6501))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6502))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6503))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6504))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6505))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6506))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6507))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6508))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6509))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6510))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6511))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6512))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6513))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6514))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6515))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6516))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6517))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6518))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6519))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6520))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6521))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6522))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6523))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6524))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6525))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6526))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6527))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6528))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6529))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6530))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6531))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6532))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6533))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6534))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6535))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6536))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}

					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="Humidifier 3">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">Beschreibung</th>
						<th scope="col">Datenpunkt</th>
						<th scope="col">Wert</th>
						<th scope="col">CRUD</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(6600))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6601))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6602))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6603))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6604))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6605))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6606))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6607))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6608))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6609))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6610))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6611))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6612))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6613))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6614))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6615))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6616))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6617))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6618))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6619))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6620))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6621))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6622))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6623))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6624))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6625))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6626))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6627))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6628))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6629))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6630))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6631))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6632))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6633))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6634))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6635))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6636))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}

					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>
        <RadzenTabsItem Text="HUmidifier 4">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th scope="col">Beschreibung</th>
						<th scope="col">Datenpunkt</th>
						<th scope="col">Wert</th>
						<th scope="col">CRUD</th>
					</tr>
				</thead>
				<tbody>
					@if (_datenpunkte != null)
					{
						foreach (var datenpunkt in _datenpunkte)
						{
							 if (datenpunkt.DPNummer.Equals(6700))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6701))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6702))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6703))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6704))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6705))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6706))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6707))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6708))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6709))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6710))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6711))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6712))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6713))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6714))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6715))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6716))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6717))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6718))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6719))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6720))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6721))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6722))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6723))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6724))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6725))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6726))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6727))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6728))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6729))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6730))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6731))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6732))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6733))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6734))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6735))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}
							 if (datenpunkt.DPNummer.Equals(6736))//Datenpunkt
							{
							<tr>
							   <th scope="row">@datenpunkt.DPBeschreibung</th>
							   <td>@datenpunkt.DPNummer</td>
							   <td>@datenpunkt.DPWert</td>
							   <td><a href="/update/@datenpunkt.DatenpunktId/@seite" class="btn btn-warning btn-sm w-100 my-2">Update</a></td>
							</tr>
							}

					  }
					}
				</tbody>
			</table>
		</RadzenTabsItem>

	</Tabs>
</RadzenTabs>
 </div>
 </div>


 </body>
</html>

@inject IJSRuntime JsRuntime

@code {
    int selectedIndex = 0;
    private List<Datenpunkt> _datenpunkte = null;
    public string seite = "/humi";

    protected override async Task OnInitializedAsync()
    {
        using var context = new DPointDbContext();

        _datenpunkte = await context.Datenpunkte.ToListAsync();
    }
     void OnChanged(int index)
    {
//        console.Log($"Tab with index {index} was selected.");
    }
}
